.drawerHeader__nav {
  text-decoration: none;
  color: inherit;
}
.drawerHeader__userBox {
  text-align: left;
  padding: 23px;
  color: rgba(0, 0, 0, 0.87);
}
.drawerHeader__name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.drawerHeader__scholl {
  font-size: 0.8rem;
  margin-block-start: 0.5em;
  margin-block-end: 0em;
}
.drawerHeader__button {
  padding: 8px 30px;
  margin-bottom: 15px;
  font-weight: bold;
  color: #fff;
}
